<div>
   <h3>Products list:</h3>
   <ul class="list-group products">
         <li class="list-group-item" *ngFor = "let product of products">
         Product id {{product.pid}},
         Product name {{product.pname}},
         Cost {{product.cost}},
         Category Id {{product.categoryId}},
         
            <!--app-products-list [product] = product></app-products-list>          
            <app-products-list [product] = product (deleteEvent) = "deleteProduct($event)"></app-products-list-->          
         </li>
   </ul>
 </div>