<h1>
  {{title}}
</h1>
<nav>
  <!--a routerLink = "/users">Users</a> |
  <a routerLink = "/posts">Posts</a> |
  <a routerLink = "/products">Products</a> |
  <a routerLink = "/products-list">Products List</a-->
  <a routerLink = "/invoice-form">Invoice Form</a> |
  <a routerLink = "/invoices">Invoices</a>


</nav>
<router-outlet></router-outlet>