<!-- <p>
  products works!
</p> -->
<div>
  <h3>Products list:</h3>
   <table class = "table table-bordered table-hover" style="width: 50%">
        <tr>
          <th>Product id</th>
          <th>Product name</th>
          <th>Cost</th>
          <th>Category Id</th>
          <th>Delete</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td>
           <app-product [product] = "product"
           (deleteEvent) = "deleteProduct($event)"></app-product>          
     </tr>
  </table>
</div>

<div>
  <h3>Products list:</h3>
   <table class = "table table-bordered table-hover" style="width: 50%">
        <tr>
          <th>Product id</th>
          <th>Product name</th>
          <th>Cost</th>
          <th>Category name</th>
          <th>Delete</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td *ngFor = "let product of product.categoryName"> {{(product | async)?.name}} </td>
           <app-product [product] = "product"
           (deleteEvent) = "deleteProduct($event)"></app-product>          
     </tr>
  </table>
</div>


